<h1>Lessons Show</h1>

<div id="lesson-data" class="hidden-data">
	<%= jsonKanjisInLesson %>
</div>

<button id='btn-previous' type="button" name="button">Previous</button>
<button id='btn-next' type="button" name="button">Next</button>
