<h1>Lessons Show</h1>

<div id="lesson-data" class="hidden-data">
	<%= jsonKanjisInLesson %>
</div>

<p id="character"></p>
<p>On</p>
<p id="on-jp"></p>
<p id="on-en"></p>
<p>Kun</p>
<p id="kun-jp"></p>
<p id="kun-en"></p>
<p>Meaning</p>
<p id="meaning"></p>
<p>How to write</p>
<video width="320" height="240" controls>
  <source id="writing-url" src="" type="video/mp4">
  Your browser does not support the video tag.
</video>

<button id='btn-previous' type="button" name="button">Previous</button>
<button id='btn-next' type="button" name="button">Next</button>
