<h1>Lesson Grades Index</h1>
<%# This gets 'lessons' parsed from the grades controller %>

<ul>
  <% for (let i=0; i<8; i++) { %>
    <a href="/grades/<%= i+1 %>">
      <li class="deck-image">
        <img src="images/deck-img.png" class="deck-photo">
        <p class="deck-name"><%= i+1 %></p>
      </li>
    </a>
  <% } %>
</ul>
