<div class="container">
  <h1>Lesson Grades</h1>
  <%# This gets 'lessons' parsed from the grades controller %>

  <ul class="row">
    <% for (let i=0; i<7; i++) { %>
      <a href="/grades/<%= i+1 %>">
        <li class="grade-image col s12 m5">
            <img src="images/grade<%= i+1 %>.jpg" class="grade-photo">
            <p class="grade-name">Grade <%= i+1 %></p>
        </li>
      </a>
    <% } %>
  </ul>
