<h1>Grades Show</h1>
<%# This gets 'lessons' parsed from the grades controller %>

<% let lessonCount = 0 %>
<ul>
  <% lessons.forEach(lesson => { %>
    <a href="/lessons/<%= lesson._id %>">
      <li class="deck-image">
        <img src="../images/deck-img.png" class="deck-photo">
        <p class="deck-name">Lesson <%= lessonCount+=1 %></p>
      </li>
    </a>
  <% }); %>
</ul>
