<div class="parallax-container">
  <div class="parallax"><img src="images/japan4.jpg"></div>
</div>
<div class="section orange lighten-5">
  <div class="row container">
    <h2 class="header">Kanji Kaigou</h2>
    <p class="grey-text text-darken-3 lighten-3">A place for you to learn Kanji characters and collect them in your decks for quick reference.</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="images/japan.jpg"></div>
</div>
