<h1>Decks Index</h1>

<%# Decks controller passes in an array of objects 'decks' here%>

  <% decks.forEach(deck => { %>
    <a href="/decks/<%= deck._id %>"><p><%= deck.name %></p></a>
  <% }); %>

  <a href="/decks/new %>"><p>Add new deck</p></a>
