@import "variables";
@import "mixins";

.hidden-data {
  display: none;
}

body {
  color: $theme-color-1;
  background-color: $theme-color-2;
  color: $theme-color-1;
  background-image: url('../images/bgpattern.png');
  // background-image: url("../images/bg-2.png");
  //position: relative;

  h1,h2,h3,h4,h5,h6,p {
    font-family: $heading-font;
  }

  .parallax-container {
    height: 500px;
    width: 100%;
  }


  nav {
    background-color: $theme-color-3;
    color: $theme-color-2;
    font-family: $heading-font;

    .side-nav {
      background-color: $theme-color-3;
      color: $theme-color-2;
    }

    li a {
      font-size: 16px;
    }

    a {
      transition: all .5s ease-in-out !important;
      -moz-transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
      margin-right: 20px;

      &:hover{
        transform: scale(1.1) !important;
      }
    }
  }
}

.grade-sort {
  display: inline-block;
  color: white;
  width: 12%;
  background-color: $theme-color-3;
  line-height: 50px;
  text-align: center;
  &:hover {
    background-color: $theme-color-3;
    opacity: 0.8;
  }
}

.carousel {
  border: 2px solid black;
  .carousel-item {
    position: relative;
    .kanji-main {
      width: 50%;
      position: absolute;
      left: 0;
      top: 12%;
    }
    .text-group {
      position: absolute;
      right: 0;
      width: 50%;
    }
    .onyomi {
      top: 5%;
    }
    .kunyomi {
      top: 35%;
    }
    .meaning {
      top: 70%;
    }

  }
}

.carousel-item h1 {
  //line-height: 300px;
  font-size: 200px;
  // background-color: blue;
}
.carousel-text-column {
  display: flex;
  flex-direction: column;
  // background-color: green;
  margin-top: 20px;

  .carousel-row {
    //height: 100px;
    flex-grow: 1;
    flex-basis: 7rem;
    // background-color: yellow;

    .jp-text{
      margin-top: 20px;
      font-size: 20px;
    }
    .en-text{
      font-size: 20px;
    }
    .meaning-text {
      line-height: 70px;
    }
  }
}

.left-right-buttons {
  margin-top: 20px;
}
.prev, .next, .add-deck-btn, .remove-deck-btn, .edit-deck-btn, .remove-kanji-btn, .add-kanji-btn {
  background-color: $theme-color-3;
  &:hover {
    background-color: $theme-color-3;
    opacity: 0.8;
  }
}
.prev, .next, .remove-deck-btn, .edit-deck-btn, .remove-kanji-btn, .add-kanji-btn {
  border-radius: 0px;
}

.remove-deck-btn, .edit-deck-btn, .remove-kanji-btn, .add-kanji-btn {
  width: 180px;
  max-width: 200px;
  margin: 10px 5px 10px 0;

}

.show-deck-top-row {
  .deck-show-top-buttons {
    display: inline-block;
  }
  h3 {
    margin-right: 100px;
  }
  h3, form, .edit-deck-btn {
    display: inline-block;
  }
}

.deck-image {
  //border: 1px solid black;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 10px 10px;
  text-align: center;
  background-color: #fffbf9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: .5s ease-in-out;

  overflow: hidden;
  position: relative;

  &:hover {
    transform: scale(1.1);
  }

  .deck-photo {
    // max-width: 100%;
    // max-height: 75%;

    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    max-height: 75%;
    min-width: 100%;
  }

  .add-icon {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    max-height: 75%;
    max-width: 75%;
  }

  .deck-name {
    font-size: 24px;
    font-weight: 500;
    // margin-top: 0;
    line-height: 0px;
    text-overflow: ellipsis;
    color: $theme-color-1;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }
}

.grade-image {
  //border: 1px solid black;
  display: inline-block;
  //width: 400px;
  height: 200px;
  margin: 30px 0 30px;
  text-align: center;
  background-color: #fffbf9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: .5s ease-in-out;
  overflow: hidden;
  position: relative;

  &:hover {
    transform: scale(1.1);
  }

  .grade-photo {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    max-height: 75%;
    min-width: 100%;
    object-fit: cover;
  }

  .grade-name {
    font-size: 24px;
    font-weight: 500;
    // margin-top: 0;
    line-height: 0px;
    text-overflow: ellipsis;
    color: $theme-color-1;
    position: absolute;
    bottom: 0;
    left: 5%;

  }
}

.deck-row {
  .col {
    border: 1px solid black;
  }
}

.container {
  //width: 80%;
}

.lesson-page-top {
  position: relative;

  #lesson-show-page {
    display: inline-block;
  }
  .next-lesson {
    display: inline-block;
    color: $theme-color-1;
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    visibility: hidden;
  }
  .big-arrow {
    font-size: 1.5em;
    position: relative;
    top: 0.1em;
  }
}

.modal {
  h1,h2,h3,h4,h5,h6,label {
    color: $theme-color-3;
  }
  label.active {
    color: $theme-color-3;
  }
  .btn {
    background-color: $theme-color-3;
  }
}

.modal-footer {
  #add-new-deck-lesson {
    position: relative;
    left: 4%;
    top: 25%;
    text-transform: uppercase;
    color: $theme-color-3;
  }
  .modal-action{
    color: $theme-color-3;
  }
}

.kanjis-in-deck {
  .kanji-list-in-deck {
    display: inline-block;
    font-size: 32px;
    border: 1px solid black;
    background-color: white;
    padding: 1.2em;
    margin: 0.2em;
    color: black;
  }
  .kanji-list-in-browse {
    display: inline-block;
    font-size: 24px;
    border: 1px solid black;
    background-color: white;
    padding: 0.5em;
    margin: 0.1em;
    color: black;
  }
}

.kanjis-in-modal {

  .deck-modal-kanji-list {

    .deck-modal-kanji-li {
      display: inline-block;
      font-size: 24px;
      border: 1px solid black;
      background-color: white;
      padding: 0.5em;
      margin: 0.1em;
      color: black;
    }
  }
}

.alert-info {
  position: absolute;
  top: 15%;
  left: 15%;
  font-size: 24px;
}

@media screen and (max-width: 640px) {

  h1 {
    font-size: 45px;
    text-align: center;
  }

  .kanji-main {
    position: absolute;
    top: 18%;
  }

  .carousel h1 {
    font-size: 150px;
  }

  .jp-text{
    margin-top: 18px;
    font-size: 18px;
  }
  .en-text{
    font-size: 18px;
  }
  .meaning-text {
    font-size: 18px;
  }

  .grade-image {
    margin: 0 0 20px;
  }

}
