
<div class="carousel carousel-slider center">
  <% kanjis.forEach(kanji => { %>
    <div class="carousel-item white black-text">
      <h1><%= kanji.character %></h1>
      <p class="black-text"><%= kanji.meaning %></p>
    </div>
  <% }); %>
</div>
<div class="row">
  <div class="col s6 prev center-align black"><span class="flow-text white-text">Previous</span></div>
  <div class="col s6 next center-align black"><span class="flow-text white-text">Next</span></div>
</div>
